.productCard {
  background-color: #fafafa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 18.75rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}



.productImage {
  width: 100%;
  border-radius: 8px;
  height: 200px;
  object-fit: contain;
}


.modalTitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.modalDescription {
  font-size: 0.95rem;
  line-height: 1.4;
  padding: 0 0.5rem;
}

.productTitle {
  font-size: 1.5em;
  margin: 16px 0 8px;
}

.productPrice {
  font-size: 1.2em;
  margin: 8px 0;
}

.addToCartButton {
  background-color: #e60000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.addToCartButton:hover {
  background-color: #b12704;
}


.floatingDescription {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 10;
  cursor: pointer;

}

.productImageWrapper {
  position: relative;
  width: 100%;
}

.productImageWrapper:hover .floatingDescription {
  display: flex;
}